/* THEME CONFIG */

html {
  --mdc-theme-primary: #03a9f4 !important;
  --mdc-theme-secondary: #333333 !important;
  --mdc-theme-background: #f2f2f2 !important;
  --mdc-theme-surface: white !important;
  --mdc-theme-on-primary: white !important;
  --mdc-theme-on-secondary: white !important;
  --mdc-theme-on-surface: #333333 !important;
}

/* DEFAULT CONFIG*/

html,
body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0 auto;
  /* TODO: Check max width of entire page with UI/UX responsable */
  /* max-width: 1366px; */
  overflow: hidden;
}

.scrollable {
  scrollbar-color: #666;
  scrollbar-width: thin;
  overflow-y: scroll;
  height: 100%;
}

/* GLOBAL STYLES*/
.link {
  text-decoration: none;
  color: black;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-strong {
  font-weight: 500;
}

.clickable,
.tappable {
  cursor: pointer;
}

.flex {
  display: flex;
}

.row-center {
  justify-content: center;
}

.row-evenly {
  justify-content: space-evenly;
}

.grow {
  flex-grow: 1;
}

.width-35 {
  width: 35%;
}

.hmargin-0 {
  margin-left: 0;
  margin-right: 0;
}

.hmargin-1 {
  margin-left: 12px;
  margin-right: 12px;
}

.hmargin-4 {
  margin-left: 48px;
  margin-right: 48px;
}

.vmargin-0 {
  margin-bottom: 0;
  margin-top: 0;
}

.vmargin-1 {
  margin-bottom: 12px;
  margin-top: 12px;
}

.vmargin-2 {
  margin-bottom: 24px;
  margin-top: 24px;
}

.vmargin-3 {
  margin-bottom: 36px;
  margin-top: 36px;
}

.content-center {
  margin: 0 auto;
}

.hidden {
  visibility: hidden;
}

.mb_display {
  display: none;
}

.mb_visible {
  visibility: hidden;
}

.mdc-theme--third {
  color: #1B2C48 !important;
}

/* CUSTOM STYLES */

.content {
  padding: 36px 15%;
}

.top-bar {
  position: relative !important;
}

.top-bar__row {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 8px 80px;
}

.top-bar__section {
  margin: 0 1em;
}

.top-bar__dropdown {
  margin: 0 12px;
}

.top-bar__dropdown:hover {
  color: #03a9f4 !important;
}

.top-bar__hover_content {
  background-color: #333333;
  display: none;
  left: 0;
  padding: 0 110px 80px 110px;
  position: absolute;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  top: 80px;
  z-index: 1;
}

#cm_company {
  display: none;
}

.collapse-menu {
  display: none;
  background-color: #333333;
  height: calc(100vh - 80px);
  left: 0;
  position: absolute;
  top: 80px;
  width: 100%;
  z-index: 2;
}

.collapse-menu_segments-container {
  padding: 0 24px;
}

.collapse-menu_segments-item {
  cursor: pointer;
  padding: 8px 0;
}

.collapse-menu_segments-item-selected {
  color: #03a9f4 !important;
  border-bottom: 2px solid #03a9f4;
}

.collapse-menu_container {
  padding: 48px 24px;
}

.collapse-menu_products-item {
  align-items: center;
  margin: 24px 0;
}

.collapse-menu_products-item > img {
  margin-right: 12px;
}

h5.collapse-menu__link {
  margin: 24px 0;
}

.collapse-menu_footer {
  padding: 0 24px;
}

.collapse-menu__link {
  text-decoration: none;
}

.top-bar__button_icon {
  margin: 0 8px;
}

.top-bar__action_buttons {
  flex: 1;
  text-align: right;
}

.hover-content__section {
  align-items: flex-start;
}

.hover-content__section_info {
  margin: 0 20px;
}

.hover-content__section_info > p {
  margin: 10px 0 40px 0;
}

.hover-content__section > p {
  margin: 10px 0 40px 0;
}

.hover-content__section_title {
  margin: 8px 0 0 0;
}

.hover-content__section_link {
  cursor: pointer;
}

.hover-content__space_sections {
  justify-content: space-between;
}

.hover-content__space_sections > .hover-content__section {
  flex-basis: 200px;
}

.main__button {
  min-height: 40px;
  padding: 0px 36px;
}

.main__section {
  padding: 20px 100px 80px 100px;
  position: relative;
}

.main__section_first {
  padding: 80px 200px;
}

.main__section::after {
  background-color: #e2e2e2;
  bottom: -4px;
  display: block;
  content: '';
  height: 4px;
  position: absolute;
  width: 200px;
  left: calc(50% - 100px);
}

.main__section:first-child::after {
  display: none !important;
}

.main__section:last-child::after {
  display: none !important;
}

.main__section_first {

  
  
  background-size: cover;
  background-repeat: no-repeat;
}

.main__section_first_title {
  margin-top: 120px;
}

.main__section_first_button {
  margin-top: 30px;
  margin-bottom: 20px;
}

.main__section_first_row_button {
  background-color: white !important;
  border-radius: 0;
  color: #27428c !important;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  line-height: 30px;
  padding: 50px;
  text-transform: none;
}

.main__section_first_row_button-selected {
  background: #03a9f4 !important;
  color: white !important;
}

.main__section_title-dark {
  color: #27428c !important;
}

.main__section_second-info {
  min-width: 50%;
}

.main__section-img {
  box-shadow: 0px 0px 10px #b4b4b4;
  height: auto;
  max-width: 50%;
  width: auto;
}

.main__section_second {
  padding: 80px 100px;
}

.main__section_second-title {
  margin-bottom: 32px;
  margin-top: 12px;
}

.main__section_second-row {
  align-items: center;
  justify-content: space-between;
  margin: 80px 0;
  position: relative;
}

.main__section_second-subtitle {
  margin: 20px 0;
}

.main__section_second-container {
  margin: 0 auto;
  width: 70%;
}

.main__section_third-list {
  list-style-type: none;
}

.main__section_third-paragraph {
  max-width: 500px;
}

.main__section_third-link {
  text-decoration: none;
}

.main__section_fifth-row {
  align-items: center;
}

#industry_cards_container {
  display: none;
}

#agency_cards_container {
  display: none;
}

#industry_cards_container > .main__section_fifth-card {
  height: 406px;
}

.main__section_fifth-card {
  background-color: #f0f0f0;
  max-height: 300px;
  padding: 30px 30px 15px 30px;
  width: 400px;
}

.selectable-price-card {
  max-height: unset;
}

.custom-select-anchor {
  height: unset;
}

.custom-select-anchor > i {
  bottom: 6px;
}

.custom-select-label {
  background-color: white;
  height: unset;
  padding: 4px 15px;
  text-align: left;
}

.mdc-select--activated .mdc-select__anchor {
  color: white;
}

.main__section_fifth-subtitle {
  margin: 0;
}

.main__section_fifth-price {
  align-items: center;
  margin: 30px 0;
}

.main__section_fifth-price > span:last-child {
  margin: 0 10px;
}

.main__section_fifth-card-highlight {
  background-color: white;
  box-shadow: 0px 0px 20px #aaaaaa;
  max-height: unset;
  z-index: 1;
}

.main__section_fifth-card-highlight > .main__section_fifth-card_caption {
  margin: 3em 0;
}

.main__section_sixth-paragraph {
  margin: 24px auto 48px auto;
  max-width: 480px;
}

.accordion-container {
  margin-left: -24px;
  width: 100vw;
}

.accordion {
  background-color: #e2e2e2;
  color: #333333;
  cursor: pointer;
  display: flex;
  padding: 24px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
  color: #03a9f4;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  background-color: white;
  display: none;
  padding: 24px;
  overflow: hidden;
}

.accordion > span {
  flex-grow: 1;
}

.footer {
  background-color: #f0f0f0;
}

.footer_row {
  justify-content: center;
}

.footer_row:last-child {
  align-items: center;
}

.footer_icon {
  height: auto;
  width: 40px;
}

.footer-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.footer-caption {
  margin-left: 48px;
}

.last-section::after {
  content: '';
  display: none !important;
}

.custom-mdc-list {
  left: 100px !important;
  width: 200px;
}

#industry_cards_container {
  justify-content: space-evenly;
}

#agency_cards_container {
  justify-content: center;
}

.demo-card {
  margin: 24px;
  max-width: 400px;
}

.demo-card__secondary {
  padding-bottom: 36px;
}

.demo-card__primary, .demo-card__secondary {
  padding-left: 36px;
  padding-right: 36px;
}

.member-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.text-container {
  justify-content: flex-start;
}

.text-box {
  margin: 0 48px;
}

.text-box:first-child {
  margin-left: 0;
}

/* Media querys */
@media only screen and (min-width: 1000px) {

  .text-box {
    max-width: 400px;
  }

}

/* Media querys */
@media only screen and (min-width: 1600px) {

  .text-box {
    max-width: 500px;
  }

}

/* Media querys */
@media only screen and (min-width: 1800px) {

  .text-box {
    max-width: 600px;
  }

}

/* Media querys */
@media only screen and (min-width: 600px) {

  .scrollable::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollable::-webkit-scrollbar-track {
    background: #ddd;
    /* border-radius: 20px; */
  }
   
  .scrollable::-webkit-scrollbar-thumb {
    background: #666;
    /* border-radius: 20px; */
  }
}

@media only screen and (max-width: 600px) {
  .text-container {
    flex-direction: column;
    justify-content: flex-start;
    text-align: center
  }

  .text-box {
    margin: 0;
  }

  .content {
    padding: 36px;
  }

  .demo-card {
    margin: 24px 0;
    max-width: 350px;
  }

  .mb_title {
    font-size: 36px !important;
    font-weight: 400;
    text-align: center
  }
  
  .mb_subtitle {
    font-size: 24px !important;
    font-weight: 400;
  }

  .demo-card__primary, .demo-card__secondary {
    padding-left: 24px;
    padding-right: 24px;
  }

  .scrollable {
    overflow-x: hidden;
  }

  .mb-hmargin-1 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .mb_hidden {
    display: none;
  }

  .mb_display {
    display: block;
  }

  .mb_visible {
    visibility: visible;
  }

  .mb_display-flex {
    display: flex !important;
  }

  .mb_padding {
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 36px;
  }

  .top-bar__section {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 8px;
  }

  .top-bar__row {
    padding: 8px;
  }

  .top-bar__dropdown {
    display: none;
    margin: 0;
  }

  .main__section {
    padding: 40px 20px;
    position: relative;
  }

  .main__section_first {
    background-image: none;
    padding: 0;
  }

  .main__section_first_row {
    box-shadow: 0px 2px 5px #e2e2e2;
  }

  .main__section_first_row_button {
    line-height: unset;
  }

  .main__section_first_title {
    margin-top: 48px;
    margin-bottom: 24px;
  }

  .main__section_second-row {
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .main__section-img {
    margin-top: 24px;
    max-width: 100%;
  }

  .main__section-img:first-child {
    margin-bottom: 24px;
    order: 1;
  }

  .main__section_second-container {
    text-align: center;
    width: 90%;
  }

  .main__section_fifth-card {
    width: 230px;
  }

  .mb_row {
    flex-direction: column;
    align-items: center;
  }

  .mb_width-80 {
    width: 80%;
  }

  .mb_text-center {
    text-align: center;
  }

  .mb_width-100 {
    width: 100%;
  }

  .footer_row {
    align-items: flex-start;
  }

  .footer_row > div > h5 {
    margin: 12px 0;
  }

  .footer_icon {
    height: auto;
    width: 80px;
  }

  .footer-link > span {
    vertical-align: top;
  }

  .footer-link > i {
    font-size: 18px;
    vertical-align: text-top;
  }

  #industry_cards_container > .main__section_fifth-card {
    margin-bottom: 12px;
    margin-top: 12px;
  }

}

.content .row .card{
  height: 1000px;
}

.card-image>img{
  height: 350px ;
  width: auto;
  overflow: hidden;
}


